.intro-content {
  color: white;
  padding: 2%;
  background-image: url(images/test.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

/* Navbar container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1a4f83;
  padding: 15px 30px;
  position: relative;
}

/* Logo */
.logo-img {
  height: 75px;
  width: auto;
}

/* Navigation links */
.navbar .logo {
  color: #fff;
  font-size: 30px;
  font-family: "Sacramento", cursive;
}

.navbar .nav-links {
  display: flex;
  align-items: center;
}

.navbar .nav-links a {
  color: #fff;
  text-decoration: none;
  margin-left: 30px;
  padding: 12px 24px;
  font-size: 1.25rem;
  transition: background-color 0.3s;
}

.navbar .nav-links a:hover {
  background-color: #e2c8aa;
  border-radius: 4px;
}

/* Burger menu (for mobile view) */
.navbar .burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.navbar .burger div {
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 6px;
  transition: all 0.3s;
}

/* Mobile styles */
@media screen and (max-width: 768px) {
  .navbar .nav-links {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    background-color: #333;
    flex-direction: column;
    align-items: center;
    display: none;
    z-index: 999;
  }

  .navbar .nav-links a {
    margin: 15px 0;
    font-size: 1.5rem;
  }

  .navbar .burger {
    display: flex;
  }

  .navbar .burger.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .navbar .burger.toggle .line2 {
    opacity: 0;
  }

  .navbar .burger.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}

.tabcontent {
  display: none;
  padding: 20px;
  background-color: #fff;
  margin: 20px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 80%;
  max-width: 1000px;
}

.tabcontent h1 {
  margin-top: 0;
}

.tabcontent:first-of-type {
  display: block;
}

.project-container {
  display: inline-block;
  width: 80%;
  background-color: white;
  color: black;
}

.grid-wrapper {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, 350px);
  justify-content: center;
  align-items: center;
  text-align: center;
}





.main-contact {
  font-size: 2rem;
}

.contact-details-container {
  display: flex;
  flex-direction: column;
}

.contact-detail {
  padding: 20px;
}

.intro-text {
  position: relative;
  top: -30%;
}

table.center-table {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  border-collapse: collapse;
}

table.center-table thead td {
  font-weight: bold;
  background-color: #1a4f83;
  color: white;
  padding: 10px;
}

table.center-table tbody td {
  padding: 10px;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  min-height: 50px;
  min-width: 200px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.accordion:after {
  content: '\02795';
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796";
}

.accordion-container {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  text-align: left;
}

/* Table styling */
table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
  color: black;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #ddd;
}


.github-button {
  margin-top: 20px;
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  float: right;
}

.project-image {
  float: right;
  width: 350px;
  height: auto;
  margin: 0 0 10px 10px;
}

.project-image2 {
  float: right;
  width: 350px;
  margin: 0 0 10px 10px;
  height: 350px;
}

@media (max-width: 600px) {
  .project-image {
    float: none;
    display: block;
    margin: 0 auto 20px auto;
    width: 100%;
    max-width: 100%;
  }
}

/* Default styles for larger screens */
.intro-heading {
  font-size: 5em;
  display: inline-block;
  background-image: linear-gradient(to right, rgba(3, 120, 190, 0.5), rgba(254, 236, 204, 0.5));
  padding: 0.2em 0.4em;
  border-radius: 10px;
}

@media (max-width: 600px) {
  .intro-heading {
    font-size: 3em;
  }
}


.project-card {
  height: 450px;
  border-radius: 5%;
  background-color: #f2f2f2;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  padding: 10%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; /* Center content horizontally */
  text-decoration: none;
  color: inherit;
}

.project-card h2,
.project-card p {
  margin: 0; /* Remove default margin */
}

.project-card iframe {
  flex-grow: 1; /* Let the iframe take up the available space */
  width: 100%; /* Ensure iframe takes up the full width */
  max-height: 80%; /* Ensure iframe fits within its container */
  border: 0; 
  padding: 15px;
}

.project-card:hover {
  background-color: #1a4f83;
  color: white;
}

.project-card-preview {
  width: 250px;
  padding: 15px;
}

.project-card p:last-child {
  margin-top: auto; /* Push the last <p> to the bottom */
  text-align: center; /* Center align the text */
}

